body{
  /*font-family: Bariol;*/
  height:100%;
}
.border{
  border-style: solid;
  border-width: 3px;
  border-color: #77CCDD;
}
.border-cus{
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: solid;
  border-bottom-style: hidden;
  border-width: 3px;
  border-color: #77CCDD;
}
.border-cusl{
  border-top-style: hidden;
  border-left-style: solid;
  border-right-style: hidden;
  border-bottom-style: hidden;
  border-width: 3px;
  border-color: #77CCDD;
}
.pilih-berkas{
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.seret-file{
  padding: 50px 0px;
}
.list-file{
  margin-top: 10px;
}
.file{
  padding: 0px 0px;
}
.file .row{
  margin: 0px;
}
.file .row .isi-file{
  padding: 0px 0px;
}
.gambar-berkas{
  height: 530px;
}
.profil{
  padding: 10px;
}
.pengaturan{
  margin-top: 10px;
  padding: 0px 40px;
}
.harga{
  margin-top: 10px;
  padding: 0px 40px;
}
 input[type=file]{
    color:transparent;
}

.disabled{
  display: none;
}




#dragandrophandler
{
border:3px dotted #0B85A1;
border-radius: 30px;
width:100%;
height:100px;
color:#92AAB0;
text-align:left;vertical-align:middle;
padding: 10px;
margin-bottom:10px;
font-size:200%;
}


.progressBar {
    width: 200px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
}

#kolkiri,
#kolkanan{
  height: 650px !important;
}
.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0ba1b5; border-radius: 3px;
}
.statusbar
{
    border-top:1px solid #A9CCD1;
    min-height:25px;
    width:100%;
    padding:10px 10px 0px 10px;
    vertical-align:top;
}
.statusbar:nth-child(odd){
    background:#EBEFF0;
}
.filename
{
display:inline-block;
vertical-align:top;
width:250px;
}
.filesize
{
display:inline-block;
vertical-align:top;
color:#30693D;
width:100px;
margin-left:10px;
margin-right:5px;
}
.abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
}

.drag-drop-first-page#dragandrophandler{
  height: 250px;
  min-height: 100px;
  padding-top:100px;
}

.jumbotron.jumbotron-firstpage{
  height: 100%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.fa-times:hover{
  color: red;
}
.navbar-brand{
  font-size: 26px;
}
